import React from 'react';
import style from './{{pascalCase name}}.module.scss';


/**
 * {{pascalCase name}} Component: Description of the behavior...
 * @param {Props} props - Component parameters such as: ...
 * @returns {JSX.Element}
 */
export function {{pascalCase name}}(props) {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className={style['{{pascalCase name}}']}>
      <p>{{pascalCase name}}</p>
    </div>
    
  );
}