// ---Dependencies
import { type ReactElement } from 'react';
import { useSelectorBuilder } from 'src/utils/hooks/styles/useSelectorBuilder';
// ---Styles
import style from './{{pascalCase name}}.module.scss';

interface Props {}

/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 * @param {Props} props - Parámetros del componente como: ...
 * @returns {ReactElement}
 */
export function {{pascalCase name}}(props: Props): ReactElement {
  // -----------------------CONSTS, HOOKS, STATES
  const { classNames } = useSelectorBuilder(style.{{pascalCase name}});
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className={classNames}>
      <p>{{pascalCase name}}</p>
    </div>
  );
}